.top-box {
  h1 {
    margin-bottom: 20px;
  }

  ul {
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      .user {
        display: flex;
        gap: 20px;
        img {
          width: 40px;
          aspect-ratio: 1/1;
          border-radius: 50%;
          object-fit: cover;
        }

        .user-texts {
          display: flex;
          flex-direction: column;
          gap: 5px;
          span {
            &:first-child {
              font-size: 14px;
              font-weight: 500;
            }
            &:last-child {
              font-size: 12px;
            }
          }
        }
      }
      .amount {
        font-weight: 500;
      }
    }
  }
}
